*.py[co]
*.swp
*.swo

# Packages
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.DS_Store

source/cache/
venv

generated/
output/
pelican-plugins/

__pycache__/
*.py[cod]
.env
